#namewell {
	background-color: #CF4647;
	border-color: #CF4647;
	height: 400px;
}

#introductionwell {
	background-color: white;
	border-color: white;
}

#introduction {
	text-align: center; 
	font-family: roboto;
}

#paragraph {
	width: 50%;
	margin: 0 auto;
}

#projectswell {
	background-color: #334055; 
	border-color:#334055; 
	height: 600px;

}

#projects {
	text-align:center; 
	color:white; 
	font-family: roboto
}

#contactwell {
	background-color:white;
	border-color:white;
	height: 250px;
}

#contact {
	text-align:center;
	font-family: roboto;
}
.links {
	margin: 10px;
}
