{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <div class="row">
    <div class="col">
      <h2 class="section-title">
        {{ skills.backend_title }}
      </h2>
  
      <div class="skillset">
  
        {% for skill in skills.backend %}
        <div class="item">
          <h3 class="level-title">{{ skill.name }}</h3>
        </div>
        {% endfor %}
  
      </div>
    </div>

    <div class="col">
      <h2 class="section-title">
        {{ skills.frontend_title }}
      </h2>
  
      <div class="skillset">
  
        {% for skill in skills.frontend %}
        <div class="item">
          <h3 class="level-title">{{ skill.name }}</h3>
        </div>
        {% endfor %}
  
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="section-title">
        {{ skills.cloud_database_title }}
      </h2>
  
      <div class="skillset">
  
        {% for skill in skills.cloud_db %}
        <div class="item">
          <h3 class="level-title">{{ skill.name }}</h3>
        </div>
        {% endfor %}
  
      </div>
    </div>

    <div class="col">
      <h2 class="section-title">
        {{ skills.tools_title }}
      </h2>
  
      <div class="skillset">
  
        {% for skill in skills.tools %}
        <div class="item">
          <h3 class="level-title">{{ skill.name }}</h3>
        </div>
        {% endfor %}
  
      </div>
    </div>
    </div>
  </div>
</section>
{% endif %}
